/*--------------------------------------------------------------
            # Whatsapp button Section
            --------------------------------------------------------------*/

.float-buttons {
    position: fixed;
    bottom: 80px; 
    left: 20px;
    z-index: 999;
    animation: float-buttons-animation 1s infinite;
}

.whatsapp-icon {
    width: 80px;
    height: 80px;
}

@keyframes float-buttons-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

:root {
    --white-100: hsl(206, 5%, 100%);
    --white-200: hsl(206, 5%, 90%);
    --white-300: hsl(206, 5%, 80%);
    --white-400: hsl(206, 5%, 65%);
    --white-500: hsl(206, 5%, 45%);
    --black-100: hsl(210, 21%, 12%);
    --black-200: hsl(210, 21%, 9%);
    --black-300: hsl(210, 21%, 6%);
    --black-400: hsl(210, 21%, 3%);
    --black-500: hsl(210, 21%, 1%);
    --night-100: hsl(217, 27%, 20%);
    --night-200: hsl(217, 27%, 16%);
    --night-300: hsl(217, 27%, 12%);
    --night-400: hsl(215, 27%, 8%);
    --night-500: hsl(215, 27%, 4%);
    --pink-100: hsl(326, 85%, 90%);
    --pink-200: hsl(327, 87%, 80%);
    --pink-300: hsl(329, 86%, 70%);
    --pink-400: hsl(330, 81%, 60%);
    --pink-500: hsl(333, 71%, 50%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


body {
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
    font-size: clamp(1rem, calc(0.97rem + 0.14vw), 1.09rem);
    font-weight: normal;
    line-height: 1.5;
    color: var(--black-300);
    background-color: var(--white-100);
}

body.darkmode {
    color: var(--white-100);
    background-color: var(--night-400);
}

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    background: none;
}

img,
video {
    display: block;
    max-width: 100%;
    /* height: auto; */
    object-fit: cover;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.section {
    margin: 0 auto;
    padding: 6rem 0 2rem;
}


.centered {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1rem;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    margin: 0 auto;
    background-color: var(--white-100);
    box-shadow: var(--shadow-medium);
}

.brand {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--pink-500);
    text-transform: uppercase;
    order: 1;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex: 0 0 17%;
}

.navbar-center {
    display: flex;
}

.navbar-right {
    display: flex;
    flex: 0 0 17%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.5rem;
}

@media only screen and (max-width: 992px) {

    .navbar-left,
    .navbar-right {
        flex: 0 0 auto;
    }

    .navbar-right {
        align-items: center;
    }

    .navbar-center {
        flex: 0 0 100%;
        order: 3;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .menu {
        position: fixed;
        top: 0;
        /* left: 0; */
        right: 0;
        width: 75%;
        height: 100%;
        z-index: 100;
        overflow: hidden;
        /* transform: translate(-100%); */
        transform: translate(100%);
        background-color: var(--white-100);
        transition: all 0.4s ease-in-out;
    }

    .menu.is-active {
        transform: translate(0%);
    }

    .darkmode .menu {
        background-color: var(--night-300);
    }
}

.menu-header {
    display: none;
    box-shadow: var(--shadow-medium);
}

.menu-item {
    display: inline-block;
    line-height: 1.5;
    padding-right: 1.25rem;
}

.menu-link {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black-300);
    text-transform: capitalize;
    transition: all 0.25s ease;
}

.menu-link-active {
    color: #e52422;
}

.menu-link>i.bx {
    font-size: 1.35rem;
    margin-left: 0.25rem;
    transform: rotate(90deg);
}

.darkmode .menu-link {
    color: var(--white-100);
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    font-size: 1.45rem;
    color: var(--black-300);
    transition: all 0.25s ease;
}

.darkmode .menu-icon {
    color: var(--white-100);
}

@media only screen and (min-width: 993px) {
    .menu-dropdown:hover>.submenu {
        opacity: 1;
        visibility: visible;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .menu-header {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 4rem;
        z-index: 110;
        visibility: hidden;
        background: transparent;
    }

    .menu-header.is-active {
        visibility: visible;
        background-color: var(--white-100);
    }

    .menu-header.is-active>.menu-arrow {
        display: block;
        margin-top: 40px
    }

    .darkmode .menu-header.is-active {
        background-color: var(--night-100);
    }

    .menu-arrow {
        display: none;
        cursor: pointer;
        width: 3rem;
        height: 4rem;
        text-align: center;
    }

    .menu-arrow>i.bx {
        font-size: 1.5rem;
        line-height: 4rem;
        color: var(--black-300);
        transition: all 0.25s ease;
    }

    .darkmode .menu-arrow>i.bx {
        color: var(--white-100);
    }

    .menu-title {
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        text-transform: capitalize;
        color: var(--black-300);
    }

    .darkmode .menu-title {
        color: var(--white-100);
    }

    .menu-inner {
        height: 100%;
        margin-top: -3rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .menu-item {
        display: block;
        /* display: flex; */
        line-height: 1;
        padding-inline: 0;
    }

    .menu-link {
        justify-content: space-between;
        height: 2.5rem;
        line-height: 2.5rem;
        padding-inline: 1.25rem;
    }

    .menu-link>i.bx {
        margin-left: 0.5rem;
        transform: rotate(0deg);
    }
}

.submenu {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1.75rem;
    padding: 1rem 2rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    border-top: 2px solid gray;
    background-color: var(--white-100);
    box-shadow: var(--shadow-medium);
    transition: all 0.25s ease-in-out;
}

.darkmode .submenu {
    border-top: 2px solid var(--pink-300);
    background-color: var(--night-300);
}

.submenu-inner {
    text-align: center;
    flex: 0 0 21%;
    /* padding: 0 1rem; */
    padding: 0 5px;
}

.submenu-title {
    text-wrap: wrap;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 0.75rem 0;
    color: #e52422;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.darkmode .submenu-title {
    color: var(--pink-300);
}

.submenu-item {
    display: block;
    line-height: 1;
    margin: 0 auto;
}

.submenu-link {
    text-align: center;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    padding: 0.75rem 0;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--black-300);
    transition: all 0.25s ease-in-out;
}

/* .submenu-link.active {

    color: #FF800F;
} */

.submenu-image {
    display: block;
    width: 100%;
    /* height: auto; */
    margin-block: 0.5rem;
    object-fit: cover;
}

@media only screen and (max-width: 992px) {
    .submenu {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        min-width: auto;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        box-shadow: none;
        transform: translateX(0%);
    }

    .submenu.is-active {
        display: block;
    }

    .submenu-inner {
        flex: 0 0 100%;
        padding: 0rem;
    }

    .submenu-list {
        margin-bottom: 1rem;
    }

    .submenu-link {
        /* display: block; */
        display: flex;
    }

    .submenu-link-1 {
        display: block;
    }

    .submenu-image {
        margin-top: 0;
    }
}

.megamenu {
    left: 50%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateX(-50%);
}

.megamenu-column-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 15rem;
    height: auto;
    margin: 0 auto;
}

.megamenu-column-2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem;
    height: auto;
    margin: 0 auto;
}

.megamenu-column-4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 62rem;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .megamenu {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        min-width: auto;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        transform: translateX(0%);
        box-shadow: none;
    }
}

.switch {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-right: 0.5rem;
}

.switch-light,
.switch-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}

.switch-light {
    font-size: 1.3rem;
    visibility: visible;
    color: var(--black-300);
}

.darkmode .switch-light {
    font-size: 0rem;
    visibility: hidden;
}

.switch-dark {
    font-size: 0rem;
    visibility: hidden;
    color: var(--white-100);
}

.darkmode .switch-dark {
    font-size: 1.3rem;
    visibility: visible;
}

.overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.45s ease-in-out;
}

@media only screen and (max-width: 992px) {
    .overlay.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.6rem;
    height: 1rem;
    margin-right: 1rem;
    opacity: 0;
    visibility: hidden;
    background: transparent;
}

@media only screen and (max-width: 992px) {
    .burger {
        opacity: 1;
        visibility: visible;
    }
}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 1;
    border-radius: 1rem;
    background: var(--black-400);
}

.darkmode .burger-line {
    background: var(--white-100);
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.bx-chevron-left:before {
    content: "\e9b2";
}

.vbox-content {
    display: flex;
    justify-content: center;
}



.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
    border-radius: 50%;
}

.slick-initialized .slick-slide {
    display: block;
}

.copy {
    padding-top: 250px;
}

:root {
    --light: #F2F7F4;
    --red: #F04F78;
    --green: #0EAF9B;
    --on: #30E1B9;
}

/* GENERAL */
/* body {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        width: 100%;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        height: 100vh;

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        display: flex;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        justify-content: center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        align-items: center;

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        background-color: var(--light);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    } */

svg {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 14%
}

/* ANIMATIONS */
.left-door {
    animation: left-door 1s ease 5s forwards;
}

@keyframes left-door {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-14px);
    }
}

.right-door {
    animation: right-door 1s ease 5s forwards;
}

@keyframes right-door {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(14px);
    }
}

.floor-5 {
    animation: light-to-red 1s ease 0s forwards;
}

.floor-4 {
    animation: light-to-red 1s ease 1s forwards;
}

.floor-3 {
    animation: light-to-red 1s ease 2s forwards;
}

.floor-2 {
    animation: light-to-red 1s ease 3s forwards;
}

.floor-1 {
    animation: light-to-green 1s ease 4s forwards;
}

@keyframes light-to-red {
    0% {
        fill: var(--green);
    }

    80% {
        fill: var(--green);
    }

    100% {
        fill: var(--red);
    }
}

@keyframes light-to-green {
    0% {
        fill: var(--green);
    }

    100% {
        fill: var(--green);
    }
}

#control-up {
    cursor: pointer;
}

.arrow-up {
    fill: var(--on);
}

.elevator-container {

    position: relative;
    width: 100%;
    /* Adjust as needed */
    height: 50vh;
    /* Adjust as needed */
}

#welcome-message {
    position: absolute;
    top: 50%;
    /* left: 65%; */
    left: 260px;
    padding: 0px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    opacity: 0;
    transition: opacity 1s ease;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

#welcome-message h4 {
    font-size: 18px
}

#welcome-message.show {
    opacity: 1;
    /* Fade in when the 'show' class is added */
}

.click-here {
    text-align: center;
    position: absolute;
    top: 160px;
    left: 363px;
    width: 50px;
    animation: whatsapp-button-animation 1s infinite
}

.shape-section {
    height: 100%;
}

@media (max-width: 768px) {
    svg {
        width: 250px;
        height: 250px;
    }

    #welcome-message {
        position: absolute;
        top: 38%;
        /* left: 65%; */
        left: 185px;
        padding: 0px;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
        opacity: 0;
        transition: opacity 1s ease;
        width: 60px;
        text-align: center;
        font-weight: bold;
    }

    #welcome-message h4 {
        font-size: 15px
    }

    .click-here {
        font-size: 14px;
        text-align: center;
        position: absolute;
        top: 110px;
        left: 250px;
        width: 50px;
        animation: whatsapp-button-animation 1s infinite;
    }
}

.news-section {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    padding: 40px 0px;
}

.news-container {
    animation: scale-up 2.5s linear;
}

.newsletter {
    /* width: 800px; */
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid black;
    /* transform: rotate(-5deg); */
    animation: rotate 0.5s linear 5;
    position: relative;
}

.newsletter::before {
    content: '';
    width: 8px;
    height: 98%;
    position: absolute;
    left: -10px;
    top: 1%;
    background-color: whitesmoke;
    border: 1px solid black;
}

.newsletter::after {
    content: '';
    width: 8px;
    height: 96%;
    position: absolute;
    left: -19px;
    top: 2%;
    background-color: whitesmoke;
    border: 1px solid black;
}

.name {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 60px;
}

.info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.title h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 65px;
}

.content {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.left-side h2 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.left-side div {
    /* display: flex; */
}

.left-side div p {
    padding: 5px;
}

.right-side {
    padding: 0 10px;
    font-size: x-small;
}

.gallery-image {
    height: 650px
}

.gallery-text {
    font-size: 35px
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scale-up {
    0% {
        transform: scale(1%);
    }

    100% {
        transform: scale(100%);
    }
}

@media (max-width: 768px) {
    .news-section {
        display: none
    }

    .gallery-image {
        height: 450px
    }

    .gallery-text {
        font-size: 25px
    }
}
.carousel-inner {
    padding: 0px 2cm;
}

.about-us-desc{
    line-height: 2.2; 
    font-size:1rem
}


.blog-content{
    height: 120px;
}
.slider-content{
    padding: 0px 2cm;
}
  /* X-Small devices (portrait phones, less than 576px) */ 
  @media (max-width: 575.98px) {
    .slider-content{
        padding: 0px;
    }
    .blog-image{
        width: 200px; 
    }
    .blog-content {
        height: 160px;
    }
    .about-us-desc{
        font-size: 14px;
    }
   }